@model Student_management.Models.Diem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Diem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemMieng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemMieng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem15p)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem15p)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem1Tiet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem1Tiet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemThi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHkNavigation.MaHk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHsNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHsNavigation.MaHs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMonHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMonHocNavigation.MaMonHoc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaDiem" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
