@model Student_management.Models.PhancongGiangday

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PhancongGiangday</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGvNavigation.MaGv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHkNavigation.MaHk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopNavigation.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMonHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMonHocNavigation.MaMonHoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
