@model Student_management.Models.PhancongGiangday

@{
    ViewData["Title"] = "Chi tiết phân công giảng dạy";
}

<h1>Chi tiết phân công giảng dạy</h1>

<hr />
<dl class="row">
    <dt class="col-sm-2">Giáo viên</dt>
    <dd class="col-sm-10">@Model.MaGvNavigation?.HoTen</dd>

    <dt class="col-sm-2">Môn học</dt>
    <dd class="col-sm-10">@Model.MaMonHocNavigation?.TenMonHoc</dd>

    <dt class="col-sm-2">Lớp</dt>
    <dd class="col-sm-10">@Model.MaLopNavigation?.TenLop</dd>

    <dt class="col-sm-2">Học kỳ</dt>
    <dd class="col-sm-10">@Model.MaHkNavigation?.TenHk</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.MaPc" class="btn btn-warning">Sửa</a> |
<a asp-action="Index" class="btn btn-secondary">Quay lại</a>
