@model IEnumerable<Student_management.Models.Phonghoc>
@{
    ViewData["Title"] = "Danh sách phòng học";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm phòng học</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TenPhong)</th>
            <th>@Html.DisplayNameFor(m => m.SucChua)</th>
            <th>@Html.DisplayNameFor(m => m.ViTri)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenPhong</td>
                <td>@item.SucChua</td>
                <td>@item.ViTri</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaPhong">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.MaPhong">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaPhong">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
